

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}



@media only screen and (max-width: 800px) {
    
    .navbar, .navbar-items {
      flex-direction: column;
    }
      
    .navbar-items {
      display:none;
    }
      
    .navbar-link {
        display:none;
      }
      
  .navbar-toggle-show {
      display: flex;
    }
      
  .navbar-link-toggle {
      display: flex;
      position: absolute;
      cursor: pointer;
     } 
  }



/* Order section */

